MONGO_URL=DATABASE_NAME=KokanMart
SECRET_KEY=


MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_SERVER=
MAIL_PORT=
MAIL_STARTTLS=
MAIL_SSL_TLS=
FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=